.header {
    width: 100%;
    display: flex;
    padding: 30px 40px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin-right: 20px;
    font-size: 14px;
}